@import '_fonts.scss';
@import '_spacings.scss';
@import '_vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html, body {
  font: 10px "Archivo",Arial,Helvetica,sans-serif;
  line-height: 1.5;
  -wekbkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  opacity: 0;
}